---
import MainLayout from "../layouts/MainLayout.astro";
import ProductCatalogSection from "../components/sections/ProductCatalogSection.astro";
---

<MainLayout
  title="Produk Maklon | Magna"
  description="Berbagai produk skincare, bodycare, dan haircare yang bisa dibuat melalui jasa maklon Magna."
>
  <main class="overflow-hidden">
    <ProductCatalogSection />
  </main>
</MainLayout>
